<nav class="navbar navbar-expand-lg bg-primary2 fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"> </span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Dropdown header</a>
             <a class="dropdown-item" [routerLink]="['/home']">User List</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Designed by Invision. Coded by Creative Tim">
                How To
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="content margin">
        <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                    <button class="input-group-text input-group-text-2"><i class="now-ui-icons serch"></i></button>
                </div>
                  <input type="text" placeholder="Search..." class="form-control form-control-2" (focus)="focus1=true" (blur)="focus1=false"/>
              </div>
            </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto" *ngIf = '!isUserLog'>            
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/login']">
                      <i class="now-ui-icons user-1"></i>
                      <p>Sing in</p>
                  </a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']">
                      <i  class="now-ui-icons files_paper"></i>
                      <p>Sign Up</p>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf = 'isUserLog'>            
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/profile', currentUser.username ]">
                            <i class="now-ui-icons user-1"></i>
                            <p>Profile</p>
                        </a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link"  (click)="logOut()">
                            <i  class="now-ui-icons files_paper"></i>
                            <p>Log Out</p>
                          </a>
                      </li>
                  </ul>
        </div>
    </div>
</nav>
