.bg-primary2 {
    background-color: #f96332;
}

.now-ui-icons.user-1:before {
    content: "\ea51";
}

.now-ui-icons.serch:before {
    content: "\ea64";
}

.form-control-2{
    border-radius: 1rem;
}

.input-group-text-2{
    color: #7f9ebdfa;
    background-color: #e9ecef36;
    border: 1px solid #ced4da57;
    border-radius: 1rem;
}

.margin {
    margin-top: 10px;
}