.card_2{
    min-height: auto;
}

.block_1{
    flex: 4;
}

.categories_el{
    width: 18rem;
    flex: 1;
    max-height: 470px;
}

.stile1{
    color: rgb(240, 79, 15);
}

.flex-container {
    justify-content: center;
}