<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-5" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Don't you know how it's done?</h1>
                <h1 class="title">Just ask.</h1>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="card ms-auto categories_el ">
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item title">Categories</li>
                        <li class="list-group-item"><a class="stile1" [routerLink]="['']">Cars & Other Vehicles</a></li>
                        <li class="list-group-item color_or"><a class="stile1"[routerLink]="['']">Computers and Electronics</a></li>
                        <li class="list-group-item"><a class="stile1"[routerLink]="['']">Family Life</a></li>
                        <li class="list-group-item"><a class="stile1"[routerLink]="['']">Food and Entertaining</a></li>
                        <li class="list-group-item"><a class="stile1"[routerLink]="['']">Health</a></li>
                        <li class="list-group-item"><a class="stile1"[routerLink]="['']">Hobbies and Crafts</a></li>
                        <li class="list-group-item"><a class="stile1"[routerLink]="['']">Pets and Animals</a></li>
                        <li class="list-group-item"><a class="stile1"[routerLink]="['']">Sports and Fitness</a></li>
                    </ul>
                 </div>
                <div class="ml-auto row flex-container block_1">          
                    <div class="card " style="width: 18rem;">
                        <img class="card-img-top" src="assets/img/bg6.jpg" alt="Card image cap">
                        <div class="card-body card_2">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>                   

                      <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="assets/img/bg6.jpg" alt="Card image cap">
                            <div class="card-body card_2">
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>

                          <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="assets/img/bg6.jpg" alt="Card image cap">
                                <div class="card-body card_2">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>

                              <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="assets/img/bg6.jpg" alt="Card image cap">
                                    <div class="card-body card_2">
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                  </div>

                                  <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="assets/img/bg6.jpg" alt="Card image cap">
                                        <div class="card-body card_2">
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>

                          </div> 
                          

                          
                        </div>
                    </div> 
                </div> 
            
</div>
