<div class="page-header page-header2" >
    <div >
        <h1 class="title">Admin panel</h1>    
    </div>
    <button type="button" class="btn btn-danger btn-round" [disabled]= "!disabled"  (click)= " deleteUser()">Delete</button>
    <button type="button" class="btn btn-warning btn-round" [disabled]="!disabled" (click)= " blocking()">Blocking</button>
    <button type="button" class="btn btn-success btn-round" [disabled]="!disabled" (click)= " unblock()">Unblock</button>
    <button type="button" class="btn btn-warning btn-round" [disabled]="!disabled" (click)= " deleteAdmin()">deliteAdmin</button>
    <button type="button" class="btn btn-success btn-round" [disabled]="!disabled" (click)= " addAdmin()">addAdmin</button>

    <table class="table">
         <thead>                     
            <tr> 
                <td>                          
                    <input type="checkbox" [(ngModel)]="checked" #checkboxAll (change)="checkAll(checkboxAll.checked)"  [(ngModel)]="disabled"> 
                </td>                        
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Blocking</th>
                <th scope="col">Admin</th>
            </tr>
        </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td> 
                            <input type="checkbox" value="{{user.id}}" [ngModel]="checked" #checkbox (change)="check(checkbox, checkbox.checked)"   [(ngModel)]="disabled">
                        </td>  
                        <th scope="row">{{i + 1}}</th>
                        <td><a class="stile1" [routerLink]="['/profile', user.username]">{{user.username}}</a></td>              
                        <td>({{user.email}})</td>  
                        <td>({{user.activated}})</td> 
                        <td>({{user.admins}})</td>                                          
                    </tr>
                </tbody>
    </table>
</div> 
    