.pure-card {
  display: inline-block;
  background: none;
  border: none;
}

.page-header {
  &:after{
  content: none;
  }
  &:before{
    content: none;
  }
  background-image: url('../../assets/img/header.jpg');
  padding-top: 80px;
}

.stile1{
  color: rgb(240, 79, 15);
}