.bg-primary2 {
    background-color: #f96332;
    border-color: #f96332;
}

.now-ui-icons.design_image_2:before {
    content: "\ea4e";
}

.now-ui-icons.design_image_3:before {
    content: "\ea52";
}

.now-ui-icons.design_image_4:before {
    content: "\ea4f";
}

.nav_1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}