<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg11.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center">
                <div class="photo-container">
                    <img src="assets/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Ryan Scheinder</h3>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Instructions</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Like</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
          <div class="button-container">
                <a href="#button" class="btn bg-primary2 btn-round btn-lg">Create Instructions</a>
                <!-- <a href="#button" class="btn bg-primary2 btn-round btn-lg">Settings</a>               -->
          </div>
          <div class="row ">
                <div class="col-md-12">
                    <h4 class="title text-center">My Instructions</h4>
                        <ngb-tabset [justify]="'center'" type="pills" class="nav  nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                <i class="now-ui-icons design_image_3"></i>
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row">
                                    <div class="col-md-10 ml-auto mr-auto">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                            </div>
                                            <div class="col-md-6">
                                                <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                                <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <i class="now-ui-icons design_image_2"></i>
                                </ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row">
                                        <div class="col-md-10 ml-auto mr-auto">
                                            <div class="row collections">
                                                <div class="col-md-6">
                                                    <img src="assets/img/bg6.jpg" class="img-raised">
                                                    <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                                    <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle>
                                        <i class="now-ui-icons design_image_4"></i>
                                    </ng-template>
                                    <ng-template ngbTabContent>                             
                                        <abe-creatre-instruction></abe-creatre-instruction>
                                    </ng-template>
                                </ngb-tab>
                        </ngb-tabset>
                    <!-- <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                        [titles]="['one','two','three']">
                    </rating>
                    <span class="label"
                        [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                        [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>
                    <div class="card">
                        <pre class="card-block card-header" style="margin:15px 0;">
                            Rate: <b>{{rate}}</b>;  Readonly is: <i>{{isReadonly}}</i>;
                            Hovering over: <b>{{overStar || "none"}}</b></pre>
                    </div> 
                    <button type="button" class="btn btn-sm btn-danger" (click)="rate = 0"
                        [disabled]="isReadonly">Clear
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" 
                    (click)="isReadonly = ! isReadonly">Toggle Readonly
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
