    <p>
        <button class="btn btn-primary btn bg-primary2 btn-round btn-lg step" [formControl]="name" type="button" >
          Step 1 
        </button>
      </p>                
      
    <div class="form-group ">
      <input type="email" class="form-control stiles_1" id="exampleFormControlInput1" placeholder="Name of the step">
    </div>
    <div class="form-group ">
      <label for="exampleFormControlTextarea1">Description of the step</label>
      <textarea class="form-control  stiles_1" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
      <div class="center file-drop" 
      (drop)="drop($event)" 
      (dragover)="allowDrop($event)">     
    </div>    
  </div> 
            

