.pure-card {
  display: inline-block;
  background: none;
  border: none;
}

.group_1{
  border-radius: 1rem;
  border: 1px solid !important;
  border-color: #f96332 !important;
  padding: 0.375rem 0.75rem !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.group_2{
  border-left: 1px solid #e3e3e300 !important;
}

.group_3{
  border-right: 1px solid #e3e3e300 !important;
}

.circle{
  border-color: #f96332;
}

.button_col{
  background-color: #f96332 !important;
  border-color: #f96332 !important;
}


